/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

// Colors
// $primary: #f97b08;
$secondary: #0885f9;
$dark: #4b4b4b;
$copyColor: #777777;
$white: #fff;
// $offwhite: #efefef;
$black: #000;

// New Colors
$primary: #ef371d;
$darkPrimary: #af1e2d;
$gray: #565454;
$lightGray: #a1a1a1;
$offwhite: #f0f0fa;
$purple: #313C81;

// Font Families
$lato: "lato",sans-serif;
$overpass: 'Overpass', sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

// Box Shadow
$box_shadow: 0 1px 10px 3px rgba(0, 0, 0, .08);

// AOS
$aos-distance: 10px; // It has to be above import of aos
