/*
 * Centered Column Section
 */

.centered-column {
  z-index: 1;

  &.background {
    padding-top: rem(200);
    background: url('../img/section-bg-img-right.jpg') right top/100% auto no-repeat;
  }

  h1 {
    padding: rem(50) 0 rem(25);
    color: $gray;
  }

  &__headline {
    &--small {
      font-size: rem(48);
    }
  }

  p strong {
    color: $darkPurple;
  }

  &__row {
    padding: rem(100) rem(20);
  }

  .col-8 div {
    position: relative;
    //padding-bottom: rem(20);

    &.dot {
      // Removed dot specific padding because all rows need this padding
      //padding: rem(100) rem(20);
      //border-bottom: .0625rem solid #f0f0fa;

      &--above {
        &:before {
          content: '';
          position: absolute;
          top: rem(10);
          left: calc(50% - 1px);
          width: rem(2);
          height: rem(50);
          background-color: #f0f0fa;
        }
      }

      &:after {
        content: url('../img/dot-divider.svg');
        position: absolute;
        bottom: rem(-10);
        left: calc(50% - 10.5px);
        width: rem(21);
        height: rem(72);
        // border-radius: 50%;
        // background: $primary;
        // background: linear-gradient($primary, $darkPrimary);
      }
    }
  }

  img {
    width: auto;
    height: rem(150);
    margin-bottom: rem(20);

    &.full-image {
      height: rem(400);
      margin-bottom: rem(40);
    }
  }

  &.background-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    > .row {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .centered-column {
    &.background {
      padding-top: rem(50);
    }

    .col-8 div {
      &.dot {
        padding: rem(100) rem(20);
      }
    }
  }
}
