/*
 * Centered Column Section
 */

.centered-column {
  z-index: 1;

  &.background {
    padding-top: rem(200);
    background: url('../img/section-bg-img-right.jpg') right top/100% auto no-repeat;
  }

  h1 {
    padding: rem(50) 0 rem(25);
    color: $gray;
  }

  &__headline {
    &--small {
      font-size: rem(48);
    }
  }

  .col-8 div {
    position: relative;
    padding-bottom: rem(20);

    &.dot {
      padding: rem(100) rem(20);

      &:after {
        content: '';
        position: absolute;
        bottom: rem(-10);
        left: auto;
        right: auto;
        margin: auto;
        width: rem(20);
        height: rem(20);
        border-radius: 50%;
        background: $primary;
        background: linear-gradient($primary, $darkPrimary);
      }
    }
  }

  img {
    width: auto;
    height: rem(150);
    margin-bottom: rem(20);
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .centered-column {
    &.background {
      padding-top: rem(50);
    }

    .col-8 div {
      &.dot {
        padding: rem(50) rem(20);
      }
    }
  }
}
