/*
 * Full Width Background Section
 */

.full-width-background {
  // removed https://3.basecamp.com/4097892/buckets/9944147/todos/1586452023 margin-top: rem(75);
  padding: 20% 0 10%;

  h4 {
    color: $white;
    font-size: rem(48);
    line-height: rem(58);
    text-shadow: 0px 2px 3px rgba(0,0,0,0.2);

    b {
      font-weight: 900;
    }
  }

  p {
    color: $white;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.2);

    a {
      text-decoration: underline;
      color: $white;

      &:hover {
        color: $primary;
      }
    }
  }

  .button {
    margin-top: rem(40);
  }

  &--middle-position {
      padding: 20% 0 20% !important;
  }

  &__image-under-headline {
    margin: 16px auto 40px;

    img {
      max-width: 70%;
    }
  }

  &__col {
    padding-left: 24px;
    padding-right: 24px;
    border-right: 1px solid $offwhite;

    &:last-of-type {
      border-right: none !important;
    }

    h2 {
      color: $white;
    }

    .button {
      min-width: rem(200);
      margin: 10px auto !important;

      &--top {
        margin: rem(5) auto rem(20) !important;
        order: -1;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
    }
  }

  &__3-col {
    justify-content: center;
  }
}

// Media Queries
@media screen and (min-width: rem(1500)) {
  .full-width-background {

    &--middle-position {
        padding: 25% 0 !important;
    }
  }
}

@media screen and (max-width: $small-breakpoint) {
  .full-width-background {
    margin-top: rem(40);
    padding: 30% 0 10%;

    &__col {
      max-width: 500px;
      margin: auto;
      padding: rem(32);
      border-right: none !important;
      border-bottom: 1px solid $offwhite;

      &:last-of-type {
        border-bottom: none !important;
      }
    }

    h4 {
      font-size: rem(30);
    }

    .button {
      margin-top: rem(20);
    }
  }
}

@media screen and (max-width: rem(500)) {
  .full-width-background {
    padding: 50% 0 10%;
  }
}
