/*------------------------------------------------------------------------------
  Hero
------------------------------------------------------------------------------*/
.hero {
  position: relative;
  padding: rem(70) 0;
  overflow: hidden;

  // Padding for when hero text was left aligned
  // &__row {
  //   &__content {
  //     padding-left: rem(70);
  //   }
  // }

  h1 {
    color: $offwhite;
  }

  &--fifty-fifty {
    h1 {
      font: 300 55px/60px $overpass;
    }

    &__left-col {
      z-index: 1;
    }
  }

  &--bottom-divider {

    @media screen and (min-width:$small-breakpoint) { padding-bottom: 250px;}

    &:after {
      content: '';
      background: url('../img/divider.png') center center/cover no-repeat;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 48%;
      z-index: 1;
    }
  }

  .col-right {
    z-index: 2;
  }

  &__logo {
    max-width: rem(280);

    img {
      margin: auto;
    }
  }

  &__headline {
    margin: rem(30) 0;
  }

  &--case-hero {
    justify-content: center;
    background-position-y: top !important;
  }

  .ryver-power {
    z-index: 1;
    position: absolute;
    max-width: rem(120);
    bottom: 20px;
    right: 20px;
    opacity: .7;
  }

  &__art {
    max-width: 600px;
    position: absolute;
    // top: -70px;
    right: 53%;
    z-index: 1;
  }

  &__art-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

// Hide Header on Landing Pages
.page-id-258 {

  .hero {
    &__logo {
      display: block !important;
    }
    &__art {
      top: 0;
    }
  }
}

@media screen and (min-width: 1300px) {
  .hero__art {
    top: -20px;
  }

  .hero {
    min-height: rem(500);

    &--case-hero {
      min-height: 350px !important;
    }
  }
}

@media screen and (max-width: 1299px) {
  // Hide Header on Landing Pages
  .page-id-258 {
    .hero {
      &__art {
        top: 50px;
      }
    }
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .hero {
    // background-position: right center !important;

    // When text is on the left
    // &__row {
    //   padding: rem(70) 0 rem(100);
    //   background: rgba(43,45,82,0.7);
    // }

    &__headline {
      font-size: rem(45);
      line-height: rem(50)
    }

    &__art {
      top: -60px;
      right: 48%;
      z-index: -1;
    }
    &__art-screen {
      padding: rem(70) 0;
      z-index: -2;
    }

    &--fifty-fifty {
      h1 {
        font: 300 35px/40px $overpass;
      }
    }
  }
}

@media screen and (max-width: $small-breakpoint) {
  .hero {

    &--case-hero {
      justify-content: center;
      background-position-x: center !important;

      .hero__row {
        background: none !important;
      }
    }
    
    background-position-x: 0% !important;
    padding: 0;

    &--fifty-fifty {

      &__left-col {
        order: 1;
      }
    }

    &--bottom-divider {

      &:after {
        height: 10%;
      }
    }

    &__art-screen {
      background-position-x: 0% !important;
      padding: 0;
    }

    &__art {
      top: 40px;
      right: 20%;
    }

    &__row {
      padding: rem(70) 0 rem(100);
      background: rgba(43,45,82,0.7);

      &__content {
        padding-left: 0.8rem;
      }
    }

    &__logo {
      max-width: unset;

      img {
        max-width: rem(250);
      }
    }

    .ryver-power {
      max-width: rem(120);
      right: calc(50% - 60px);
      bottom: 35px;
    }
  }
}

// ie11 Fixes
.ie-11 {
  .hero {
    &--fifty-fifty {
      max-height: 600px;
    }
  }
}
