/*------------------------------------------------------------------------------
  Hero
------------------------------------------------------------------------------*/
.hero {
  position: relative;
  padding: rem(70) 0;

  &__row {
    &__content {
      padding-left: rem(70);
    }
  }

  &__logo {
    max-width: rem(240);
  }

  &__headline {
    margin: rem(30) 0;
    text-shadow: 0 3px 10px rgba(0,0,0,0.6);
  }

  .ryver-power {
    z-index: 1;
    position: absolute;
    max-width: rem(120);
    bottom: 20px;
    right: 20px;
    opacity: .7;
  }

  &__art {
    max-width: 40%;
    position: absolute;
    top: -70px;
    right: 53%;
    z-index: 1;
  }

  &__art-screen {
    position: absolute;
    max-width: 250px;
    right: 47%;
    top: 30px;
  }
}
@media screen and (max-width: $medium-breakpoint) {
  .hero {
    background-position: right center !important;
    padding: 0;

    &__row {
      padding: rem(70) 0 rem(100);
      background: rgba(43,45,82,0.7);
    }
  }
}

@media screen and (max-width: $small-breakpoint) {
  .hero {

    &__row {
      &__content {
        padding-left: 0.8rem;
      }
    }

    &__logo {
      max-width: unset;

      img {
        max-width: rem(250);
      }
    }

    .ryver-power {
      max-width: rem(120);
      right: calc(50% - 60px);
      bottom: 35px;
    }
  }
}
