/*
 * Icon Block Grid
 */

.icon-block-grid {
  // padding: rem(50) 0;

  .row {

    &:first-of-type {
      padding-top: rem(32);
      border-top: rem(1) solid $offwhite;
    }
    &:last-of-type {
      padding-bottom: rem(32);
      border-bottom: rem(1) solid $offwhite;
    }
  }

  &__column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(32);
    padding-bottom: rem(32);
  }

  .icon {
    flex: 0 1 16.7%;
  }

  .text {
    flex: 0 1 75%;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: rem(-10);
    left: auto;
    right: auto;
    margin: auto;
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    background: $primary;
    background: linear-gradient($primary, $darkPrimary);
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .icon-block-grid {
    &__column {
      padding-top: rem(25);
      padding-bottom: rem(25);
    }

    .icon {
      flex: 0 1 10%;
    }

    .text {
      flex: 0 1 85%;
    }
  }
}
