/*
 * Centered Column Section
 */

/////////////////////////////


.scenario-map {
  z-index: 1;

  &.background {
    padding-top: rem(200);
    background: url('../img/section-bg-img-right.jpg') right top/100% auto no-repeat;
  }
  &.background-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    > .row {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
  }

  h1 {
    padding: rem(50) 0 rem(25);
    color: $gray;
  }

  &__headline {
    &--small {
      font-size: rem(48);
    }
    &--no-padding {
      padding-top: 0 !important;
    }
  }

  p strong {
    color: $darkPurple;
  }

  &__row {
    // padding: rem(100) rem(20);
    justify-content: flex-start;
    margin: rem(40) auto rem(122);
    padding: rem(20) 0 rem(10);
    border-radius: 5px;
    box-shadow: $box_shadow;

    &--remove-box-shadow {
      box-shadow: none !important;
    }

    &--remove-padding {
      padding: 0 !important;
    }

    &--horizontal {
      &__img {
        padding: rem(40) rem(40) rem(10);
      }
    }

    &__column {
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        padding: rem(10) 0;
      }
    }
  }

  .col-8 div {
    position: relative;
    //padding-bottom: rem(20);

    &.dot {
      // Removed dot specific padding because all rows need this padding
      //padding: rem(100) rem(20);
      //border-bottom: .0625rem solid #f0f0fa;

      &--above {
        &:before {
          content: '';
          position: absolute;
          top: -50px;
          left: calc(50% - 1px);
          width: rem(2);
          height: rem(50);
          background-color: #f0f0fa;
        }
      }

      &:after {
        content: url('../img/dot-divider.svg');
        position: absolute;
        bottom: -72px;
        left: calc(50% - 10.5px);
        width: rem(21);
        height: rem(72);
        // border-radius: 50%;
        // background: $primary;
        // background: linear-gradient($primary, $darkPrimary);
      }
    }
  }

  img {
    width: auto;
    max-height: rem(150);
    margin-bottom: rem(20);

    &.full-image {
      height: rem(400);
      max-height: rem(250);
      margin-bottom: rem(40);
    }
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .scenario-map {
    &.background {
      padding-top: rem(50);
    }

    .col-8 div {
      &.dot {
        padding: rem(16);
      }
    }
  }
}

// Specific page overrides
// RILA 2019 LP
.page-id-346 .scenario-map__row {
  padding: rem(20);
}

// ie11 Fixes
.ie-11 {
  .scenario-map {
    &__row {
      .full-image {
        height: auto !important;
      }
    }
  }
}
