/*------------------------------------------------------------------------------
  50/50
------------------------------------------------------------------------------*/
.sixty-fourty {
  padding: rem(80) 0 0;
  overflow: hidden;

  &.background {
    padding-top: rem(150);
    background: url('../img/section-bg-img.jpg') left top/100% auto no-repeat;
  }

  // Custom red check bullet point styles
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding:0 !important;
    text-align: left;

    li {
      // custom marker

      list-style: none;
      margin-left: 0px;
      margin-bottom: 35px;
      max-width: 25%;
      padding: 50px 10px 0;
      background: url('../img/checkmark.svg') no-repeat;
      background-position-x: 50%;
      background-size: 30px 30px;
      display: block;
      color: $white;
      text-align: center;
      text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
      border-right: 1px solid white;

      strong {
        font-weight: 900;
      }

      &:last-of-type {
        margin-bottom: 2px;
        border-right: none !important;
      }
    }
  }

  h1 {
    padding: rem(50) 0;
    color: $gray;
  }

  .button {
    margin-top: rem(100);
    margin-bottom: rem(50);
  }
}

// Media Queries
@media screen and (max-width:$small-breakpoint) {
  .sixty-fourty {
    padding: rem(30) 0;

    &.background {
      padding-top: rem(75);
    }

    .col-5 {
      margin-top: rem(30);
    }
  }
}
