/*------------------------------------------------------------------------------
  3 Col
------------------------------------------------------------------------------*/
.three-col {
  padding: rem(80) 0;

  h1 {
    margin-bottom: rem(20);
    color: $gray;
  }

  .col-wrap {
    img {
      max-height: rem(120);
      margin: rem(40) auto rem(20);
    }
  }

  &__grid {
    justify-content: center !important;
  }

  .three-col-layout {

    &__img {
      width: 50%;
      max-width: rem(240);
      margin: rem(32) auto;
      padding-bottom: 50%;
    }
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .three-col {

    .col-wrap {
      img {
        max-height: rem(60);
      }
    }
  }
}
