/*
 * Two Column Layout
 */

.two-column-layout {
  padding: rem(50) 0;

  h1 {
    margin-bottom: rem(30);
    color: $gray;
  }

  p b {
    font-style: italic;
    color: $darkPurple;
  }

  &__img {
    width: 80%;
    margin: rem(32) auto;
    padding-bottom: 80%;
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .two-column-layout {
    padding: 0 0 rem(50);

    &__img {
      width: 100%;
    }

    .col-5:last-of-type {
      margin-top: rem(30);
    }
  }
}
