/*
 * Video Modal Section
 */

.video-modal {
  padding: rem(100) 0 rem(300);

  &__content {
    margin-top: rem(32);
    padding: rem(32);
    border-radius: rem(10);
    background: rgba(255,255,255,0.8);

    p {
      color: $gray;
    }

    // Custom red check bullet point styles
    ul {
      margin: 0;
      padding:0 !important;
      text-align: left;

      li {
        // custom marker

        list-style: none;
        margin-left: 0px;
        padding-left: 30px;
        background: url('../img/checkmark--white.svg') no-repeat;
        background-position-y: 4px;
        background-size: 20px 20px;
        display: block;
        color: $purple;

        strong {
          font-weight: 900;
        }

        &:last-of-type {
          margin-bottom: 2px;
        }
      }
    }
  }

  &__headline {
    &--small {
      font-size: rem(48);
    }
  }

  h1 b {
    font-weight: 900;
  }

  img {
    width: rem(100);
    margin-bottom: rem(50);
  }
}
