/*
 * Video Modal Section
 */

.video-modal {
  padding: rem(100) 0 rem(300);

  &__content {
    margin-top: rem(32);
    padding: rem(32);
    border-radius: rem(10);
    background: rgba(255,255,255,0.8);

    p {
      color: $gray;
    }

    ul li {
      color: $purple;

      &:last-of-type {
        margin-bottom: 2px;
      }
    }
  }

  h1 b {
    font-weight: 900;
  }

  img {
    width: rem(100);
    margin-bottom: rem(50);
  }
}
