/*
 * Video Modal Section
 */

.video-modal {
  padding: rem(100) 0 rem(300);

  &__content {
    background: rgba(255,255,255,0.3);
    padding: rem(32);
  }

  h1 b {
    font-weight: 900;
  }

  img {
    width: rem(100);
    margin-bottom: rem(50);
  }
}
