/*----------------------------------------------------------------------------
  Buttons
----------------------------------------------------------------------------*/
.button {
  position: relative;
  top: 0;
  display: inline-block;
  margin: 0 auto;
  padding: rem(15) rem(25);
  border-radius: rem(5);
  text-align: center;
  line-height: rem(25);
  font-size: rem(20);
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease !important;

  &--primary {
    color: $white;
    background: $primary;
    background: linear-gradient($primary, $darkPrimary);

    &:hover {
      top: rem(-8);
      color: $white;
      box-shadow: 0 20px 40px -20px rgba(0,0,0, 0.6);
    }
  }

  &--secondary {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;

    &:hover {
      color: $primary;
      background-color: $white;
    }
  }

  &--tertiary {
    color: $white;
    background-color: $secondary;
    border: 1px solid $secondary;

    &:hover {
      color: $secondary;
      background-color: $white;
    }
  }

  &--white {
    color: $primary;
    background-color: $offwhite;
    border: 1px solid $offwhite;

    &:hover {
      top: rem(-8);
      color: $primary;
      background-color: $white;
      box-shadow: 0 20px 40px -20px rgba(0,0,0, 0.6);
    }
  }
}
