/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/
.header {
  height: 88px;
  position: fixed;
  top: 0;
  padding: rem(10) rem(20);
  background-color: $white;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  z-index: 9999;
  transition: all 0.3s ease;

  &__logo {
    position: relative;
    top: 2px;
    max-width: 250px;
  }

  .button--primary {
    &:hover {
      top: 0 !important;
      box-shadow: none !important;
    }
  }

  &__search-bar {
    display: none;
    position: fixed;
    top: 88px;
    padding: rem(10) 0;
    background: $darkPurple;
    background: linear-gradient($lightPurple, $darkPurple);

    > .row {
      margin: auto;
    }

    &__column {
      display: flex;
    }

    .search-form {
      width: calc(100% - 40px) !important;
      max-width: none !important;

      label {
        width: calc(100% - 40px);

        .search-field {
          width: 100%;
          border-radius: 5px;
          border: 1px solid grey;
          padding: 5px 35px 5px 10px;
          font-size: rem(16);
        }
      }
    }

    .search-submit {
      background: no-repeat;
      border: none;
      position: absolute;
      top: 4px;
      right: 57.8px;
    }

    &--close {
      position: relative;
      right: -12.8px;
      top: 5px;

      img {
        width: rem(20);
        height: rem(20);
        transform: rotate(45deg);
      }
    }
  }

  &__navigation-wrap {
    justify-content: flex-start;
  }

  &--fixed {
    background-color: rgba(255,255,255,0.9);
  }

  &__utility-wrap {
    justify-content: flex-end;

    .defendry-search {
      padding-right: rem(16);

      .fa-search {
        position: relative;
        top: 15px;
        width: rem(20);
        height: rem(20);

        &:before {
          font-size: rem(20);
          color: $dark;
        }
      }
    }

    .button {
      margin: 0;
    }
  }
}

.primary-nav {
  display: inline-flex;

  ul {
    position: relative;
    top: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      height: rem(33);
      padding-right: rem(32);
      margin: 0;

      a {
        margin: 0;
        font: $light rem(20)/rem(25) $overpass;
        color: $dark;
        transition: all 0.2s ease;

        &:after {
          content: '';
          display: block;
          bottom: -3px;
          position: relative;
          width: 0;
          height: 3px;
          background: $primary;
          transition: width .3s;
        }

        &:hover:after {
          width: 100%;
        }
      }
    }
  }

  .current-menu-item {
    position: relative;
    top: -3px;

    a {
      color: $primary;

      &:before {
        content: '';
        display: block;
        position: relative;
        top: rem(33);
        width: 100%;
        height: 3px;
        background: $primary;
        transition: width .3s;
      }

      &:hover:before {
        width: 0;
      }

      &:after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: $primary;
        transition: width .3s;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }
}
.nifty-panel {
  overflow:hidden;

  .button--primary {
    margin: rem(24) auto;
  }

  #mobile-modal-search {
    display: block;
    position: relative;
    top: 0;
    padding: rem(10) rem(20);

    .search-submit {
      top: 0;
    }

    .search-form {
      width: 100% !important;
      padding-left: 0;

      input {
        padding: 10px 35px 10px 10px;
      }
    }
  }

  .mobile-nav {
    width: 100%;

    ul {
      width: 100%;
      list-style: none;
      margin-top: rem(20);
      padding-right: rem(30);
      text-align: left;

      li {
        font-size: rem(30);
        //padding: rem(15) 0;

        a {
          color: $white;
        }

        &.current-menu-item {
          a {
            color: $primary;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.nifty-nav-wrap {
  display: none;
}

// Media Queries
@media screen and (max-width:$medium-breakpoint) {
  header {
    .nifty-nav-wrap {
      display: -webkit-box!important;
      display: -webkit-flex!important;
      display: -ms-flexbox!important;
      display: flex!important;
    }
    .primary-nav {
      ul {
        li {
          a {
            font-size: rem(16);
          }
        }
      }
    }
  }
}
@media screen and (max-width:$small-breakpoint) {
  header {
    padding-bottom: rem(15);

    .primary-nav {
      ul {
        li {
          a {
            font-size: rem(16);
          }
        }
      }
    }
  }
}

// Hide Header on Landing Pages
.page-id-258 {
  .header {
    display: none;
  }

  main, footer {
    top: 0;
  }
}
