/*
 * Blog Section
 */

.blog {
  padding-bottom: rem(40);

  a:hover {
    color: $darkPrimary;
  }

  &__header {
    padding: rem(40) 0;
  }

  &__single-row {
    margin-bottom: rem(40);

    &__title {
      &:hover {
        color: $darkPrimary;
      }
    }
  }

  h1, h2 {
    color: $dark !important;

    span {
      color: $primary;
    }
  }

  h5 {
    font-size: rem(16);
    margin-bottom: rem(16);
  }

  &--single {
    margin-bottom: rem(40);

    &__featured-image {
      display: block;
      max-width: rem(500);
      margin: rem(32) auto;
    }
  }
}

// Media Queries
@media screen and (max-width: $medium-breakpoint) {
  .blog {
    &__single-row {
      img {
        margin-bottom: rem(32);
      }
    }
  }
}
