/*----------------------------------------------------------------------------
  Home
----------------------------------------------------------------------------*/
.home {

  .fifty-fifty, .video-modal  {

    // Custom red check bullet point styles
    ul {
      margin: 0;
      padding:0 !important;
      text-align: left;

      li {
        // custom marker

        list-style: none;
        margin-left: 0px;
        padding-left: 30px;
        background: url('../img/checkmark.svg') no-repeat;
        background-position-y: 4px;
        background-size: 20px 20px;
        display: block;

        strong {
          color: $purple;
          font-weight: 900;
        }
      }
    }
  }
}
