/*------------------------------------------------------------------------------
  Global Styles
------------------------------------------------------------------------------*/
/* Set box sizing to elimate math in the padding */
* {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  border: 0;
}

html,
html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  font: 100%/1.25 arial, helvetica, sans-serif;
  background-color: $white;
}

// Hide empty paragraphs
p:empty{
  display: none !important;
}

// Tables
table {
  margin: 0 0 18px;
}

/* keep images from spilling out of columns */
img{
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

sup {
  font-size: 25%;
  top: -1.8em;
}

// Flex Video Based on Zurb's Foundation Framework
.flex-video {
  position: relative;
  height: 0;
  padding-top: 0;
  padding-bottom: 56.25%;
  margin-bottom: 1rem;
  overflow: hidden;
  iframe, object, embed, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// margin
.margin-bottom {
  margin-bottom: rem(20);
}

// Full Page
.full-page {
  min-height: calc( 100vh - 339px );
}

// 404
.error-404 {

  a {
    display: inline-block;
  }
}

// Remodal
.remodal {
  margin: 10vh auto !important;
  position: relative;
  padding: 0 !important;
  width: 50vw;
  border-radius: rem(5);
  transition: all 0.3s ease;
  transform: scale(0.9);
  opacity: 0;
  background: transparent;

  &.remodal--video {
    max-width: rem(1280);
    max-height: unset;
    margin: rem(30) auto !important;
    width: 90%;

    .flex-video {
      width: 100%;
    }
  }

  &__header {
    padding: rem(20);
    border-radius: rem(5) rem(5) 0 0;
    background: rgb(239,55,29); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(239,55,29,1) 0%, rgba(175,30,45,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(239,55,29,1) 0%,rgba(175,30,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(239,55,29,1) 0%,rgba(175,30,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef371d', endColorstr='#af1e2d',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 0 15px 3px rgba(0,0,0, 0.3);

    h2 {
      margin-bottom: 0 !important;
      color: $white;
    }
  }

  &__body {
    max-height: 70vh;
    padding: rem(30);
    border-radius: 0 0 rem(5) rem(5);
    overflow: scroll;
    background-color: $white;

    p {
      font-size: rem(18);
      text-align: left;
    }
  }

  .gform_wrapper .gfield_required {
    display: none;
  }

  // Old MailChimp styling

  #mc_embed_signup {
    .clear {
      text-align: center;
    }

    .button {
      height: rem(42);
      color: $white;
      background-color: $primary;
      border: 1px solid $primary;
      transition: all 0.2s ease;

      &:hover {
        background-color: $white !important;
        color: $primary;
      }
    }

    .mc-field-group input {
      font-size: rem(18);
      line-height: rem(24);
    }

    form {
      padding: 0 !important;
    }
  }

  // Gravity Forms Styling

  .remodal__body {

    .gform_button[disabled="disabled"] {
      opacity: 0.5 !important;
      cursor: default;

      &:hover {
        color: $white !important;
        background-color: $primary !important;
      }
    }
    
    .button {
      //height: rem(42);
      padding: rem(15) rem(25) !important;
      margin: 0 !important;
      color: $white;
      background-color: $primary;
      border: 1px solid $primary;
      transition: all 0.2s ease;

      &:hover {
        background-color: $white !important;
        color: $primary;
      }
    }

    .gform_wrapper {
      margin: 0 !important;
    }

    .gform_footer {
      text-align: center !important;
    }

    .gfield {
      margin-top: 0 !important;
      padding-right: 0 !important;

      input {
        width: 100%;
        margin-top: 0 !important;
        border: 1px solid #dde2ea;
        border-radius: 5px !important;
        padding: 12px 10px !important;
        font-size: rem(18);
        line-height: rem(24);
      }
      .gfield_checkbox {
        input[type=checkbox] {
          margin-top: 0 !important;
        }
        label {
          font-size: rem(18);
        }
      }
    }

    form {
      padding: 0 !important;
    }
  }
}

.remodal-overlay {
  transition: all 0.3s ease;
  opacity: 0;
}

.remodal-is-opened {
  opacity: 1;
  transform: scale(1);
}
.remodal-is-initialized {
  //max-height: rem(600);
}

.close-bg {
  background-color: #a8a8a8;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  position: absolute;
  top: 4px;
  left: 4px;
  width: 35px;
  height: 35px;
  z-index: -1;
  transition: all 0.2s ease;
}

.remodal-close {
  position: absolute;
  top: -20px;
  right: -20px;
  transform: rotate(45deg);
  z-index: 1;

  img {
    width: rem(40);
    border-radius: 50%;

    &:hover {
      box-shadow: 0 0 10px rgba(0,0,0,0.8);
      cursor: pointer;
    }
  }

  &:hover {
    .close-bg {
      background-color: $white;
    }
  }
}

.remodal-wrapper.remodal-is-opened {
  align-items: center;

  .flex-video {
    margin-bottom: 0;
  }
}

.response {
  margin-top: 0;
  padding-top: 0;
}

// Tool Tip
.tooltip {
    position: relative;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: $secondary;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    box-shadow: 0 4px 15px rgba(0,0,0, 0.3);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover {
    cursor:pointer;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    width: 400px;
    bottom: 100%;
    left: 50%;
    margin-left: -200px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $secondary transparent transparent transparent;
}

.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

// Safari Fix on Modals
.safari {
  .remodal .remodal__body {
    .gfield input {
      padding: rem(8) rem(10) !important;
      line-height: 2rem !important;
    }

    .button {
      padding: rem(10) rem(25) !important;
      line-height: 2rem !important;
    }
  }
}

@media screen and (max-width: $small-breakpoint) {
  .remodal {
    width: 90vw;
  }
}
