/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/
// Headers
h1 {
  margin: 0 0 15px;
  font: $light rem(70)/rem(72) $overpass;
  color: $white;

  span {
    color: $primary;
  }
}

h2 {
  margin: 0 0 rem(15);
  font: $bold rem(30)/rem(38) $overpass;
  color: $primary;
}

h3 {
  margin: 0;
  font: $regular rem(20)/rem(24) $overpass;
  color: $dark;
}

h4 {
  margin: 0;
  margin-bottom: rem(25);
  font: $light rem(35)/rem(40) $overpass;
  color: $secondary;
}

h5 {
  margin: 0;
  font: $light rem(14)/rem(16) $overpass;
  color: $secondary;
  opacity: 0.6;
}

h6 {
  margin-top: 0;
  margin-bottom: rem(20);
  font: $bold rem(18)/rem(20) $overpass;
  color: $copyColor;
  text-transform: uppercase;
}

// Body Copy
p, ul, ol, li {
  margin: 0 0 rem(15);
  font: $regular rem(16)/1.5 $overpass;
  letter-spacing: rem(0.5);
  color: $copyColor;

  span {
    font-weight: $bold;
  }
}

// Bold font
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-weight: $bold !important;
}

// Links
a {
  font-family: $overpass;
  color: $primary;
  text-decoration: none;
  transition: all .25s ease;
  cursor: pointer;

  &:hover {
    color: $secondary;
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  h1 {
    font-size: rem(40);
    line-height: rem(50);
  }
}
